<!-- Inject field forms for creating houses here by generating their components:
     Street address (done)
     Mortgage amount (done)
     Number of units (done)
     etc

    Also have option to add unit details here -->

<h4>Add Property Form</h4>

{{md-input value=street_name
    label="Street Name"
    type='text'
    class="col s12"
    validate=true}}

{{md-input value=mortgage
    label="Monthly Mortgage"
    type='number'
    class="col s6"
    validate=true}}

{{md-input value=taxes
    label="Monthly Taxes"
    type='number'
    class="col s6"
    validate=true}}

{{md-input value=insurance
    label="Monthly Insurance"
    type='number'
    class="col s6"
    validate=true}}

{{md-input value=num_units
    label="Number of units"
    type='number'
    class="col s6"
    validate=true}}
{{!--

{{md-btn text='Submit'
  action='submit'
  class='blue white-text text-darken-3'}}

{{md-btn text='Cancel'
  action='reset'
  class='red white-text text-darken-3'}} --}}
