<h4>Add Property Form</h4>

{{new-property/building
    street_name=houseParams.street_name
    mortgage=houseParams.mortgage
    taxes=houseParams.taxes
    insurance=houseParams.insurance
    num_units=houseParams.num_units
  }}

{{#unless showUnitForm}}
{{md-btn text='Add Units'
  action='addUnits'
  class='blue white-text text-darken-3'}}
{{/unless}}

{{#if showUnitForm}}
  {{new-property/units
    unit_num=unitParams.unit_num
    num_bedrooms=unitParams.num_bedrooms
    num_bathrooms=unitParams.num_bathrooms
    num_parking=unitParams.num_parking }}
{{/if}}

{{md-btn text='Submit'
  action='submit'
  class='blue white-text text-darken-3'}}

{{md-btn text='Cancel'
  action='reset'
  class='red white-text text-darken-3'}}
