{{#md-modal close='closeModal' isFooterFixed=true}}
  <div class="modal-content">

  {{#md-collection content=sortedProperty as |expense|}}
    <div class='collection-item valign-wrapper row'>
      <div class="col s7 m10">
        <h6><span class="bold">{{expense.expenseFor}}</span></h6>
        <p><span class="light">{{expense.expenseDescription}}</span></p>
      </div>
      <div class="col s5 m2 push-s1">
        <h6><span class="bold">{{formatCurrency expense.expenseAmount}}</span></h6>
        <p><span class="light">{{moment-format expense.expenseDate 'L'}}</span></p>
      </div>
    </div>
  {{/md-collection}}

  {{#md-collection content=sortedProperty as |expense|}}
    <div class='collection-item valign-wrapper row'>
      <div class=" exp-his-description">
        <h6><span class="bold">{{expense.expenseFor}}</span></h6>
        <p><span class="light">{{expense.expenseDescription}}</span></p>
      </div>
      <div class="exp-his-amount">
        <h6><span class="bold">{{formatCurrency expense.expenseAmount}}</span></h6>
        <p><span class="light">{{moment-format expense.expenseDate 'L'}}</span></p>
      </div>
    </div>
  {{/md-collection}}


</div>
{{/md-modal}}
