{{outlet}}

{{unit-details unitData=model}}


{{!-- <h2>{{model.house.street_name}}</h2>
<h3>UNIT: {{model.unit_num}}</h3>
<li>Bedrooms: {{model.num_bedrooms}}</li>
<li>Bathrooms: {{model.num_bathrooms}}</li>
<li>Expense: {{model.expense}}</li> --}}
