<!--Show if modalIsOpen is true-->
{{#if showContract}}
  {{#md-modal close='closeModal' isFooterFixed=true}}
      <div class="modal-content">
          <!-- Placeholder for title of modal-->
          <h5 class="flow-text">Current Contract</h5>
          <h5>{{unitData.house.streetName}}</h5>
          <h4>Unit: {{unitData.unitNum}}</h4>
          <p>Term:
            <br>
            Start: {{unitData.contract.start}}
            <br>
            End: {{unitData.contract.end}}
            <br>
            Rent: {{unitData.contract.rent}}
            <br>
            Security: {{unitData.contract.security}}
          </p>
      </div>
      <div class="modal-footer">
        {{md-btn text='Terminate Lease'
          action='deleteContract'
          class='red white-text text-darken-3'}}
      </div>
  {{/md-modal}}
{{/if}}


<!--Show if modalIsOpen is true-->
{{#if showContractForm}}
  {{#md-modal close='closeModal' isFooterFixed=true}}
      <div class="modal-content">
        <div class="hasContract">
          <!-- Placeholder for title of modal-->
          <h5 class="flow-text">Add Contract</h5>
          <h5>{{unitData.house.streetName}}</h5>
          <h4>Unit: {{unitData.unitNum}}</h4>
          <!--Injects new-contract component-->
          {{all-forms/new-contract
           contractParams=contractParams }}
        </div>
      </div>
      <div class="modal-footer">
        {{md-btn text='Cancel'
          action='closeModal'
          class='red white-text text-darken-3'}}
        {{md-btn text='Create Lease'
          action='createContract'
          class='teal white-text text-darken-3'}}
      </div>
  {{/md-modal}}
{{/if}}
