<!--To Do:

    2. Need to add patch to unit

    4. Need to create Observers to keep track of rent
    5. Need to create adds money function
    6. Need to add D3.js-->

<!--Where the options Modal component will appear-->
{{property-overview-modal
  delete="delete"
  unitData=unitData
  showUnitOptions=showUnitOptions
  street=unitData.house.streetName
  unit=unitData.unitNum }}

<!-- Expense Modal -->
{{expense-card showExpenseForm=showExpenseForm unitData=unitData }}

<!--- BREADCRUMBS ////////////////////////////////////////////////////-->
<div class="row">
  <div class="col s12">
    <!-- Link to all properties -->
    {{#link-to 'houses' class="teal-text breadcrumb"}}Properties{{/link-to}}

    <span class="breadcrumb-divider">|</span>

    <!-- Link to property -->
    {{#link-to 'house' unitData.house.id class="teal-text"}}{{unitData.house.streetName}}{{/link-to}}

    <span class="breadcrumb-divider">|</span>

    <!-- Link to current unit -->
    {{#link-to 'unit' unitData.id class="teal-text"}}Unit: {{unitData.unitNum}}{{/link-to}}
  </div>
</div>

<!--- CONTAINS EVERYTHING ///////////////////////////////////////////-->
<div class="row universal-padding">

  {{#md-card}}
    {{#link-to 'house' unitData.house.id}}
    {{#md-card-content class="property-detail-content"}}
      <div class="valign-wrapper white-text">
        <i class="material-icons street-icon">location_on</i>
        <p class="flow-text">{{unitData.house.streetName}}</p>
      </div>
    {{/md-card-content}}
    {{/link-to}}
    {{#md-card-content class="unit-detail-content"}}
      <div class="valign-wrapper">
        <span class="subScript">Unit</span>
        <span class="card-title flow-text">{{unitData.unitNum}}</span>
        <div class="col s1">
          <i class="material-icons street-option-icon" {{action "open"}}>more_vert</i>
        </div>
      </div>
    {{/md-card-content}}

    <!-- Money Section //////////////////////-->
    {{#md-card-action}}
      {{unit-details/money-actions
        unitData=unitData
        showExpenseForm=showExpenseForm
        addExpense="addExpense"
        showMoneyDetails=showMoneyDetails
        showLeaseDetails=showLeaseDetails}}
    {{/md-card-action}}

    <!-- Lease Secton //////////////////////-->
    {{#md-card-action}}
      {{unit-details/lease-actions
        unitData=unitData
        showLeaseDetails=showLeaseDetails
        showMoneyDetails=showMoneyDetails}}
    {{/md-card-action}}

  {{/md-card}}

  {{#if showMoneyDetails}}
    {{unit-details/money-details
      sortedProperty=sortedProperty}}
  {{/if}}

  {{#if showLeaseDetails}}
    {{unit-details/lease-details}}
  {{/if}}
</div>
