
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content center-align">

        <div class="card-title">
          <div class="card-panel teal">
            <span id="details-house-name">{{unitData.house.street_name}}</span>
          </div>
          <h3 id="details-unit-num">UNIT: {{unitData.unit_num}}</h3>
        </div>

        <div class="divider">
        </div>

        <div class="row">
          <div class="col s12 center-align">
            <h4 class="house-net-revenue">$12,032</h4>
            <p>Net revenue since</p>
            <h6>March 12, 2015</h6>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m3">
            <div class="card-panel teal">
              <span class="white-text">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
              </span>
            </div>
          </div>

          <div class="col s12 m3">
            <div class="card-panel teal">
              <span class="white-text">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
              </span>
            </div>
          </div>

          <div class="col s12 m3">
            <div class="card-panel teal">
              <span class="white-text">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
              </span>
            </div>
          </div>

          <div class="col s12 m3">
            <div class="card-panel teal">
              <span class="white-text">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
              </span>
            </div>
          </div>

        </div>


        <li>Bedrooms: {{unitData.num_bedrooms}}</li>
        <li>Bathrooms: {{unitData.num_bathrooms}}</li>
        <li>Expense: {{unitData.expense}}</li>

      </div>
    </div>
  </div>
</div>
