{{!-- {{email-input email=credentials.email}}
{{password-input password=credentials.password}}
{{password-confirmation-input password=credentials.passwordConfirmation}}

{{md-btn text='Sign Up'
  action='submit'
  class='blue white-text text-darken-3'}}

{{md-btn text='Cancel'
  action='reset'
  class='red white-text text-darken-3'}} --}}


  <div class="row">
    <div class="col s12">
      {{email-input email=credentials.email}}
      {{password-input password=credentials.password}}
      {{password-confirmation-input password=credentials.passwordConfirmation}}

      {{md-btn text='Sign Up'
        action='submit'
        class='teal-darken-3
          white-text
          text-darken-3
          col s12
          sign-in-up-button'}}

      <div class="row hide-on-med-and-up">
        <div class="col s12">
          <button class="btn sign-in-up-button col s12">
            {{#link-to 'sign-in'}}
            Sign In
            {{/link-to}}
          </button>
        </div>
      </div>

    </div>
  </div>
