<h4>Property Details</h4>
<div class="row">
  <div class="col s12 m9">
    <div class="card white darken-1">
      <div class="card-content house-card">
        <span id="house-name-card-title" class="card-title">{{house.street_name}}</span>
        {{delete-button delete="delete"}}
      </div>
    </div>
  </div>
  <div class="col s12 m2">
    <div class="card teal darken-1">
      <div class="card-content house-card">
        <span id="house-name-card-title" class="card-title">{{house.street_name}}</span>
        {{delete-button delete="delete"}}
      </div>
    </div>
  </div>
</div>


<!-- Still need to:
      1. Format UI
      2. Create a delete button

      3. Inject house info into the heading of unit-details
-->

{{#each house.units as |unit|}}

{{/each}}




{{#unless addUnit}}
  {{md-btn text='Add Unit'
    action='add'
    class='blue white-text text-darken-3'}}
{{/unless}}

{{#if addUnit}}
  {{new-property/units
    house=house
    addUnit=addUnit
    unitParams=unitParams

    unit_num=unitParams.unit_num
    num_bedrooms=unitParams.num_bedrooms
    num_bathrooms=unitParams.num_bathrooms
    num_parking=unitParams.num_parking }}


  {{md-btn text='Submit'
    action='submit'
    class='blue white-text text-darken-3'}}

  {{md-btn text='Cancel'
    action='reset'
    class='red white-text text-darken-3'}}
{{/if}}
