<h4>House Details</h4>
<div class="row">
  <div class="col s12">
    <div class="card-panel teal">
      <span class="white-text">
        {{house.street_name}}
      </span>
    </div>
  </div>
</div>

<!-- Still need to:
      1. Format UI
      2. Create a delete button
-->
{{#each house.units as |unit|}}
  <li>{{#link-to 'unit' unit}}UNIT {{unit.unit_num}}{{/link-to}}</li>
{{/each}}



{{#unless addUnit}}
  {{md-btn text='Add Unit'
    action='add'
    class='blue white-text text-darken-3'}}
{{/unless}}

{{#if addUnit}}
  {{new-property/units
    house=house
    addUnit=addUnit
    unitParams=unitParams

    unit_num=unitParams.unit_num
    num_bedrooms=unitParams.num_bedrooms
    num_bathrooms=unitParams.num_bathrooms
    num_parking=unitParams.num_parking }}


  {{md-btn text='Submit'
    action='submit'
    class='blue white-text text-darken-3'}}

  {{md-btn text='Cancel'
    action='reset'
    class='red white-text text-darken-3'}}
{{/if}}
