<div class="row">
  <div class="col s6">
    <h5 style="display: inline-block">{{house.street_name}}
    </h5>
  </div>
    <div class="col s6 ">
    <a class="options-button btn-flat right" {{action "open"}}>
      <img class="options-icon" src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_mode_edit_48px-128.png" alt="" />
    </a>
  </div>
  {{options-button delete="delete" showOptions=showOptions title="Property Options"}}
  {{!-- <div class="col s7 m9 pull-m1">
    <span class="left">{{options-button showOptions=showOptions delete="delete"}}</span>
  </div> --}}
</div>

<div class="row">
  <div class="col s12 l5">
    <div class="card xsmall">
      <div class="card-content activator">
        <span class="card-title grey-text text-darken-4">Earned<i class="material-icons right">more_vert</i></span>
        <h4 class="center-align activator">$1,230</h4>
      </div>
      <div class="details card-action">
        <button class="waves-effect waves-teal btn-flat btn-large details-button">Details</button>
      </div>
      <div class="card-reveal activator">
        <span class="card-title grey-text text-darken-4">Earned since<i class="material-icons right">close</i></span>
        <p>Break down how the number is calculated</p>
      </div>
    </div>
  </div>

  <div class="col s12 l5">
    <div class="card xsmall">
      <div class="card-content activator">
        <span class="card-title grey-text text-darken-4">Spent<i class="material-icons right">more_vert</i></span>
        <h4 class="center-align activator">$930</h4>
      </div>
      <div class="details card-action">
        <button class="waves-effect waves-teal btn-flat btn-large details-button">Details</button>
      </div>
      <div class="card-reveal activator">
        <span class="card-title grey-text text-darken-4">Spent since<i class="material-icons right">close</i></span>
        <p>Break down how the number is calculated</p>
      </div>
    </div>
  </div>

  <div class="col s12 l2">
    <div class="card white darken-1">
        <ul class="collection">
          <li class="collection-item">Beds:</li>
          <li class="collection-item">Baths:</li>
          <li class="collection-item">Units:</li>
          <li class="collection-item">Purchase Price: $210,000</li>
        </ul>
    </div>
  </div>
</div><!--row-->

<div class="row">
  <div class="col s12">
    <div class="card white darken-1">
      <div class="card-content house-card">
        <span class="card-title">Money Details</span>
        <div class="divider"></div>
        <div class="earnings row">
          <div id="earnings" class="col s12">
            <h6>EARNINGS</h6>
            <p class="flow-text center-align">
              Details earning information here. Might include graphs, charts, grapgics etc. This section might be extensive.
            </p>
          </div>
        </div>
        <div class="expense-earnings divider"></div>
        <div class="earnings row">
          <div class="col s12">
            <h6>EXPENSES</h6>
            <p class="flow-text center-align">
              Details expense information here. Might include graphs, charts, grapgics etc. This section might be extensive.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card white darken-1">
      <div class="card-content house-card">
        <div class="card-title">Units</div>

        <div class="row">
          <div class="container">

        <div class="col s6 m3 center">
          <h4>3/5</h4>
          <h6>Active Units</h6>
        </div>
        <div class="col s6 m3 center">
          <h4>2</h4>
          <h6>Incoming Rent</h6>
        </div>
        <div class="col s6 m3 center">
          <h4>3</h4>
          <h6>Reminders</h6>
        </div>
        <div class="col s6 m3 center">
          <h4>3/5</h4>
          <h6>Active Units</h6>
        </div>
        </div>
      </div>
    </div><!--card-content house-card-->

      <div class="collection">
        {{#each house.units as |unit|}}
        {{#link-to 'unit' unit.id}}
        <a href="#!" class="collection-item">
          <div class="row">
          <div class="col s3 m2">
            <div class="unit-number card-panel">
              <span class="title">
                <h5 class="">{{unit.unit_num}}</h5>
              </span>
            </div>
          </div>
          <div class="col s8 valign">
            <h5>Unit# {{unit.unit_num}}</h5>
            <h6>August 1, 2016 - July 31, 2017</h6>
          </div>
        </div>
        </a>
        {{/link-to}}
        {{/each}}
      </div><!--collection-->
      {{#unless addUnit}}
        {{md-btn text='Add Unit'
          action='add'
          buttonType='large'
          class='col s12
                 blue white-text
                 text-darken-3
                 add-unit-button' }}
      {{/unless}}

    </div><!--card-->
  </div>
</div>



<!-- Still need to:
      1. Format UI
      2. Create a delete button

      3. Inject house info into the heading of unit-details
-->




{{#if addUnit}}
  {{new-property/units
    house=house
    addUnit=addUnit
    unitParams=unitParams

    unit_num=unitParams.unit_num
    num_bedrooms=unitParams.num_bedrooms
    num_bathrooms=unitParams.num_bathrooms
    num_parking=unitParams.num_parking }}


  {{md-btn text='Submit'
    action='submit'
    class='blue white-text text-darken-3'}}

  {{md-btn text='Cancel'
    action='reset'
    class='red white-text text-darken-3'}}
{{/if}}
