{{#md-card title="Unit Overview" titleClass="center-align"}}
  {{#md-card-content}}
  {{/md-card-content}}

  {{#md-card-action}}
    <div class="row">
      <div class="col s6">Created On</div>
      <div class="col s6">{{moment-format house.createdAt 'LL'}}</div>
    </div>
  {{/md-card-action}}

  {{#md-card-action}}
    <!-- Bedrooms -->
    <div class="row">
      <div class="col s6">Bedrooms</div>
      <div class="col s6">{{unitData.numBedrooms}}</div>
      {{#if (not unitData.numBedroom)}}
      <div class="col s6">Unavailable</div>
      {{/if}}
    </div>
    <!-- Bathrooms -->
    <div class="row">
      <div class="col s6">Bathrooms</div>
      <div class="col s6">{{unitData.numBathrooms}}</div>
      {{#if (not unitData.numBathrooms)}}
      <div class="col s6">Unavailable</div>
      {{/if}}
    </div>
    <!-- Parking -->
    <div class="row">
      <div class="col s6">Parking</div>
      <div class="col s6">{{unitData.numParking}}</div>
      {{#if (not unitData.numParking)}}
      <div class="col s6">Unavailable</div>
      {{/if}}
    </div>
  {{/md-card-action}}

  {{#md-card-action}}
    <div class="row">
      <div class="col s6">Status</div>
      {{#if unitData.contract}}
      <div class="col s6 teal-text">Active</div>
      {{else}}
      <div class="col s6 red-text">Vacant</div>
      {{/if}}
    </div>
  {{/md-card-action}}

{{/md-card}}
