{{#if showExpenseForm}}
  {{#md-modal close='closeModal' isFooterFixed=true}}
      <div class="modal-content">
        <div class="hasContract">
          <!-- Placeholder for title of modal-->
          <h5 class="flow-text">Add Expense</h5>
          {{#if house}}
          <h5>{{house.streetName}}</h5>
          {{else}}
          <h3>{{unitData.house.streetName}}</h3>
          <h4>Unit: {{unitData.unitNum}}</h4>
          {{/if}}
          <!--Injects new-expense component-->
          {{all-forms/new-expense
           expenseParams=expenseParams }}
        </div>
      </div>
      <div class="modal-footer">
        {{md-btn text='Cancel'
          action='closeModal'
          class='red white-text text-darken-3'}}
        {{md-btn text='Add Expense'
          action='createExpense'
          class='teal white-text text-darken-3'}}
      </div>
  {{/md-modal}}
{{/if}}

{{!--

TO DO:
1. Fix styles

 --}}
